<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/eda">EDA</a></li>
      <li><a href="/analysis-methods">Analysis Methods</a></li>
      <li><a href="/ml-models">ML Models</a></li>
      <li><a href="/major-findings">Major Findings</a></li>
    </ul>
  </nav>
</header>
